$prefix: list;

.#{$prefix}_container{
    background-color: #ffffff;
    border-top: 1px #e5e5e5 solid;
    .#{$prefix}_item_container{
        background-color: #ffffff;
        margin-left: 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px #e5e5e5 solid;
        .delete-btn{
            background: red;
            width: 16px;
            height: 16px;
            color: white;
            display: flex;
            align-content: center;
            justify-content: center;
            border-radius: 8px;
            font-weight: bold;
            margin-right: 10px;
            line-height: 16px;
            z-index: 100;
        }
        .list_item_info{
            flex: 1;
            display: flex;
            flex-flow: column;
            .load-view{
                width: 100%;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: gray;
            }
        }
        .link{
            margin-right: 10px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 50%;
            }
        }
    }
}