$prefix: tarbar;

.#{$prefix}_container {
    font-size: 11px;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    box-shadow:0 1px 0 #f0f0f0 inset; 

    .#{$prefix}_item {
        flex-grow:1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            flex-grow:0;
            // width: 20px;
            height: 22.5px;
            display: block;
        }
        span {
            flex-grow:0;
            display: block;
            padding-top: 5px;
            color: #202020;
        }
    }
}

@keyframes myfirst
{
    0% {
        transform: scale(1);
        transform-origin: bottom;
    }
    50% {
        transform: scale(1.4);
        transform-origin: bottom;
    }
    100%{
        transform: scale(1);
        transform-origin:bottom; 
    }
}

.imgStyle{
    animation: myfirst 1s linear
}


